$white: #ffffff;
$off-white: #d8d8d8;
$grey: #999999;
$black: #222222;

$red: #dc092c;
$dark-red: #89041c;

$yellow: #ffcb05;
$dark-yellow: #9f8b0f;

$blue: #27aafd;
$dark-blue: #196a9e;

$green: #51ae5e;
$dark-green: #388144;

$baby-blue: #d7f1ff;

$ff-space-mono: 'Space Mono', 'SpaceMono-Regular', monospace;
$ff-nunito: 'Nunito', 'Nunito-Regular', sans-serif;
$ff-press-start: 'Press Start 2P', 'PressStart2P', 'PressStart2P-Regular' cursive;
