$white: #ffffff;
$off-white: #d8d8d8;
$dark-grey: #222222;
$red: #dc092c;
$dark-red: #89041c;
$yellow: #ffcb05;
$sky-blue: #27aafd;
$dull-blue: #196a9e;
$navy: #003a70;
$green: #51ae5e;

$ff-space-mono: 'Space Mono', 'SpaceMono-Regular', monospace;
$ff-nunito: 'Nunito', 'Nunito-Regular', sans-serif;
